* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: 'Roboto';
}
.App {
    width: 90vw;
    margin: 0 auto;
}

/* HEADER */
header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}
header .left-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
header img {
    width: 30%;
}

header a {
    text-decoration: none;
    color: white;
}
/* background-image */
.background-image {
    margin-top: 60px;
    position: relative;
}
.background-image img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
.background-image .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32vh;
}
.background-image .info h1 {
    font-size: 8em;
}
.background-image .info span {
    font-size: 4em;
}
.background-image .info button {
    height: 60px;
    min-width: 160px;
    border-radius: 10px;
    margin-right: 15px;
}
.background-image .info button:first-child {
    background-color: white;
    color: black;
    font-size: 2em;
}
.background-image .info button:last-child {
    background-color: #363739;
    opacity: 0.8;
    color: white;
    font-size: 2em;
}

/* Section */
section {
    margin-top: 30px;
    overflow: hidden;
}

.categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.categories .category {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    margin: 40px auto;
}
.categories .category .movie {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.categories .category .movie::-webkit-scrollbar {
    display: none;
}
.categories .category .movie img {
    height: 100%;
    object-fit: contain;
    margin-top: 20px;
}
/* Footer */
footer {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #808080;
}

footer a {
    text-decoration: none;
    color: #e50a14;
}
@media (max-width: 1000px) {
    .App {
        width: 100vw;
        margin: 0 auto;
    }
    header {
        height: 60px;
    }
    header a {
        display: none;
    }
    header img {
        margin-left: 10px;
    }
    .background-image .info {
        position: absolute;
        bottom: 0;
        left: 10px;
        height: 25%;
    }
    .background-image .info h1 {
        font-size: 3em;
    }
    .background-image .info span {
        font-size: 1em;
    }
    .background-image .info button {
        height: 40px;
        min-width: 80px;
        border-radius: 10px;
        margin-right: 15px;
    }
    .background-image .info button:first-child {
        background-color: white;
        color: black;
        font-size: 1em;
    }
    .background-image .info button:last-child {
        background-color: #363739;
        opacity: 0.8;
        color: white;
        font-size: 1em;
    }
    footer {
        font-size: 1em;
    }
}
